version: '3.4'

services:
  gestaopedidos:
    image: gestaopedidos:latest
    build: .
    depends_on:
      - db
    ports:
      - 8082:8080
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: gestaopedidos
      DB_USER: postgres
      DB_PASSWORD: postgres
      PAYMENT_NAME: Payment-Api
      PAYMENT_URL: http://pagamento:8080/api
      PRODUCTION_NAME: Production-Api
      PRODUCTION_URL: http://api:8000/api
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U postgres -d gestaopedidos'" ]
      interval: 10s
      timeout: 3s
      retries: 3

  db:
    image: 'postgres:14.1-alpine'
    container_name: pg-db-gestaopedidos
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gestaopedidos
    ports:
      - '5433:5432'
